  <!-- Footer -->
      <div id="footer">
        <div class="container">
          <div class="row">
            <div class="12u">
              
              <!-- Contact -->
                <section class="contact">
                  <header>
                    <h3>Ready to Move Forward?</h3>
                  </header>
                  <p><a href="javascript:;" class="contact_us">Get in touch with us</a></p>
<!--                   <ul class="icons">
                    <li><a href="#" class="fa fa-twitter solo"><span>Twitter</span></a></li>
                    <li><a href="#" class="fa fa-facebook solo"><span>Facebook</span></a></li>
                    <li><a href="#" class="fa fa-google-plus solo"><span>Google+</span></a></li>
                    <li><a href="{{site.social.linkedin}}" class="fa fa-linkedin solo"><span>Linkedin</span></a></li>
                  </ul> -->
                </section>
              
              <!-- Copyright -->
                <div class="copyright">
                  <ul class="menu">
                    <li><strong>&copy; {{site.contact.name}}</strong></li>
                    <li><strong>Address:</strong> {{site.contact.address-line1}}</li>
                    <li><strong>Phone:</strong> {{site.contact.phone}}</li>
                  </ul>
                </div>

                <div class="acknowledgement">
                      <h3> - Acknowledgements - </h3>
                  <ul class="menu">                    
                    <li><strong>Site Developed by:</strong> <a href="http://www.bivee.co">Bivee</a> </li>
                    <li><strong>Marketing Strategy Developed by:</strong> <a href="mailto:talecbastoun@gmail.com">Bastoun Talec</a></li>
                    <li><strong>Visual Identity Developed by:</strong> <a href="http://www.team-creatif.com/en/">Team Créatif Brasil</a></li>
                  </ul>
                </div>
              
            </div>
          </div>

        </div>
      </div>

</body>
</html> 