    <div id="ie-error" style="position: absolute; width:100%; height: 100%; top: 0; left: 0; text-align: center; z-index: 1002; font-family: Arial, sans-serif;">
      <div style="width: 550px; margin: 50px auto 50px auto; background: #1a1a1a; padding: 20px; color: #FFF;">
        <img src="http://conference2013.diversitywoman.com/assets/images/logo.png" style="margin:0 auto;text-indent:-9999px; width:300px;" alt="Diversity Woman" />
        <h2>Your web browser is outdated</h2>
        <p>In order to view the website you can easily upgrade to the latest version of your browser</p>
        <h3 style="margin-bottom: 20px;">Why should I upgrade?</h3>
        <div class="table">
          <dl style='line-height: 1.4;margin:7px 0 0 30px; text-align: left; float: left;'> 
            <dt style='color:#e6e6e6'>Web sites load faster</dt> 
            <dd style='font-size:11px;margin-left:0px;'>often double the speed of this older version.</dd> 
            <dt style='color:#e6e6e6; margin-top:10px;'>Web sites render correctly</dt> 
            <dd style='font-size:11px;margin-left:0px;'>with more web standards compliance.</dd> 
            <dt style='color:#e6e6e6; margin-top:10px;'>Tabs Interface</dt> 
            <dd style='font-size:11px;margin-left:0px;'>lets you view multiple sites in one window.</dd> 
            <dt style='color:#e6e6e6; margin-top:10px;'>Safer browsing</dt> 
            <dd style='font-size:11px;margin-left:0px;'>with better security and phishing protection.</dd> 
            <dt style='color:#e6e6e6; margin-top:10px;'>Convenient Printing</dt> 
            <dd style='font-size:11px;margin-left:0px;'>with fit-to-page capability.</dd> 
          </dl> 
          <ul style='list-style:none;margin:0 30px 0 0;padding:9px 0 0 0; float: right; text-align: left; font-size: 14px;'> 
            <li style='height:39px;background:url(http://dl.getdropbox.com/u/48374/sevenup/plugins/black/images/Chrome.jpg) no-repeat;'><a href='http://www.google.com/chrome' style='color:#e6e6e6;display:block;padding:4px 0 8px 44px;text-decoration:none;width:150px;'>Google Chrome</a></li> 
            <li style='height:39px;background:url(http://dl.getdropbox.com/u/48374/sevenup/plugins/black/images/Firefox.jpg) no-repeat;'><a href='http://getfirefox.com' style='color:#e6e6e6;display:block;padding:4px 0 8px 44px;text-decoration:none;width:140px; margin-top: 20px;'>Mozilla Firefox</a></li> 
            <li style='height:39px;background:url(http://dl.getdropbox.com/u/48374/sevenup/plugins/black/images/Opera.jpg) no-repeat;'><a href='http://www.opera.com/download/' style='color:#e6e6e6;display:block;padding:4px 0 8px 44px;text-decoration:none;width:140px; margin-top: 20px;'>Opera</a></li> 
            <li style='height:39px;background:url(http://dl.getdropbox.com/u/48374/sevenup/plugins/black/images/Safari.jpg) no-repeat;'><a href='http://www.apple.com/safari/download/' style='color:#e6e6e6;display:block;padding:4px 0 8px 44px;text-decoration:none;width:140px; margin-top: 20px;'>Apple Safari</a></li> 
          </ul> 
        </div>
        <div style='clear:both;'></div>
        <h5 style="color:#ff4000;margin-top: 20px; text-decoration: underline;"><a href="assets/pdfs/conference.pdf" style="color:#ffffff;">Click Here to Download Conference Information</a></h5>
        <h3 style="color:#ffffff; margin: 20px auto;">Register Below:</h3>
          <div style="width:100%; text-align:left;" ><iframe src="https://www.eventbrite.com/tickets-external?eid={{ site.eventbrite.event-id }}&amp;ref=etckt&amp;v=2" style="height: 550px; width: 100%;"></iframe></div>
      </div>
    </div>