            <!-- Header -->
      <div id="header">
       <div class='overlay'></div>

        <!-- Inner -->
          <div class="inner">
            <header>
              <!-- <h1><a href="#" id="logo">Helios</a></h1> -->
              <!-- <a href="#banner" class="button circled scrolly">  </a>  -->
              <img class="logo" src="{{ site.assets.img }}logo_v2.png" />
            
            </header>
            <footer>
            </footer>
          </div>
        
        <!-- Nav -->
          <nav id="nav">
            <ul>
              <li><a href="#lets_talk" class="scrolly">Lets Talk</a></li>
              <li><a href="#about_you" class="scrolly">About You</a></li>
              <li><a href="#and_us" class="scrolly">And Us</a></li>
              <li class="highlight"><a href="no-sidebar.html">Contact</a></li>
            </ul>
          </nav>
            
      </div>


