            <!-- Header -->
      <div id="header">
       <div class='overlay'></div>

        <!-- Inner -->
          <div class="inner">
            <header>
              <!-- <h1><a href="#" id="logo">Helios</a></h1> -->
              <!-- <a href="#banner" class="button circled scrolly">  </a>  -->
              <img class="logo" src="{{ site.assets.img }}logo_rev.png" />
              <hr />
              <span class="byline">Audiovisual, Corporate, and Legal Translations</span>
              
            </header>
            <footer>
            </footer>
          </div>
        
        <!-- Nav -->
          <nav id="nav">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="left-sidebar.html">Services</a></li>
              <li><a href="right-sidebar.html">Clients</a></li>
              <li><a href="no-sidebar.html">About Us</a></li>
            </ul>
          </nav>
            
      </div>


