  <!-- Nav -->
          <nav id="nav">
            <a href="/" class="scrolly"><img class="nav-logo" src="{{ site.assets.img }}logo.png" /></a>
            <ul>
              <li><a href="{{site.url}}/#lets_talk" class="scrolly">Lets Talk</a></li>
              <li><a href="{{site.url}}/#about_you" class="scrolly">About You</a></li>
              <li><a href="/and_us" class="scrolly">And Us</a></li>
              <li class="highlight"><a href="no-sidebar.html">Contact</a></li>
            </ul>
          </nav>